body {
  background-image: none;
  background-color: #dcc;
}

.basket-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 400px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.basket-header {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  padding: 2rem 0;
}

.basket-items-wrapper {
  display: flex;
  flex-direction: row; /* Kolumnowy układ dla mniejszych ekranów */
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.basket-items-list {
  display: flex;
  flex: 1 1 60%;
  flex-direction: column;
  flex-wrap: wrap; /* Umożliwienie zawijania elementów */
  justify-content: space-around;
  width: 100%;
  padding: 0 1rem;
  text-decoration: none;
  list-style: none;
}

.basket-item {
  background-color: #fff;
  padding: 1rem;
  max-width: 70%;
  display: flex;
  flex-direction: column; /* Kolumnowy układ dla elementów koszyka */
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.item-image-wrapper {
  padding-right: 0.5rem;
}

.item-image {
  width: 50vw; /* Obraz będzie zajmował 50% szerokości widoku */
  max-width: 100%; /* Dodaj, aby obraz nie przekraczał szerokości kontenera */
  height: auto; /* Zachowaj proporcje obrazu */
}

.item-header {
  font-size: 2rem;
}

.item-price {
  font-size: 1.5rem;
  padding: 0.7rem 0;
}

.item-detail-list {
  list-style: none;
  font-size: 1rem;
}

.item-detail-el {
  padding-right: 0.5rem;
}

.item-detail-name {
  padding-right: 0.3rem;
}

.item-detail-value {
}

.select-number-module {
  padding: 1rem 2rem;
}

#select-amount {
  width: 100px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 1rem;
  appearance: none;
  padding: 10px;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.select-container {
  position: relative;
  display: inline-block;
}

.select-container:after {
  content: "\21D3";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 1rem;
}

.basket-sidebar {
  background-color: #fff;
  flex: 1 1 30%;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.25);
}

.basket-sidebar-header {
  padding: 0.5rem 1rem 0.3rem;
  border: 1px;
  border-bottom: #cccccc;
  border-bottom-style: solid;
  text-align: center;
}

.summary-header {
}

.summary-section {
}

.summary-section-list {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
  font-size: 1rem;
  justify-content: center;
  width: 100%;
  border: 0.5px;
  border-bottom: #cccccc;
  border-bottom-style: solid;
}

.summary-section-el {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 0.2rem 0;
}

.summary-section-el-name {
  padding-right: 0.5rem;
  justify-content: flex-start;
}

.summary-section-el-value {
  justify-content: flex-end;
}

.summary-section-summary-wrapper {
  padding-top: 0.3rem;
  padding-bottom: 2rem;
}

.finalize-button-link {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.finalize-button-link {
  text-decoration: none;
  color: inherit;
}
.finalize-button {
  display: flex;
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.finalize-button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .basket-header {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .basket-items-list {
    flex-direction: column;
    align-items: center;
  }
  .basket-items-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .basket-sidebar {
    margin-top: 2rem;
    width: 80%;
  }

  .basket-item {
    width: 100%;
  }

  .finalize-button {
    min-width: 80px;
    padding: 5px;
  }
}
